<div id="discussion_options">
	<input id="edit_discussion" type="submit" value="edit" style="float:right;"/>
</div>
<div class="divClear"></div>

<div id="discussion_container"></div>

<% prepared_data = prepare_json_data(@elements, @element_links).to_json.html_safe %>
<% content_for :head do %>
	<%= javascript_include_tag "js_utilities/ajp.utilities", "csd/csd", "csd/csd.controller", "csd/csd.data_manager", "csd/csd.model", "csd/csd.routes", "csd/csd.session", "csd/csd.views" %>
	<%= stylesheet_link_tag "discussion_elements" %>
	<script id="csd_data">
		$(document).ready( function () {
			CSD.views_manager.add_element(<%= @array_of_ids.to_json.html_safe %>); //[1,5,7,14,13,15,16,17,19,20,21,2,4]
			CSD.controller.display_discussion();
		});
	</script>
<% end %>
