#loading {
	position: fixed;
	top: 0px;
	background-color: white;
	display: block;
	opacity: 0.95;
	z-index: 2147483646;
}




#main_discussion_container {
}

#discussion_options, #discussion_definition {
	padding: 0 20px;
}

#discussion_definition {
	max-width: 400px;
	margin: 0 auto;
	/*float:left;*/
}

.discussion_heading_part {
	margin: 0px 20px 0px;
}


.discussion_heading_part h3 {
	margin: 5px 5px;
}


.discussion_side {
	margin: 20px 0 0;
	float: left;
	/*width: 29.9%;*/
	background-color: #fafaff;
	padding: 10px;
	border-radius: 4px;
	width: 29.7%;
	border: thin solid #e5e5ef;
}
.padding_between_discussion_sides {
	float: left;
	margin: 0 10px;
	height: 30px;
}

.discussion_side_heading h4 {
	margin: 0;
}

.side_specific_definition {
	font-style: italic; 
}

.discussion_container {
	margin: 20px 0 0;
}



#author_and_critic {
	width: 100px;
}


#author_and_critic h5 {
	margin: 0px;
}


.option_button {
	float: right;
	padding: 1px 4px;
	border: thin solid transparent;
	font-size: 80%;
}
.option_button:hover, .option_button.option_enabled {
	border: thin solid black;
	background-color: #ccddff;
}


/* element options */
.element_options{
	padding:1px;
	display: inline-block;
	background-color: #fafaff;
}
.option {
	padding: 0 3px;
	margin: -1px 1px;
	border-radius:3px;
	border:thin solid #E6E6E6;
	color: #868686;
	display: inline-block;
}
.option:hover {
	color: #000000;
	border:thin solid #999999;
	background-color: #dfeeff;
}
