




/* discussion elements */

div.element_outer {
    z-index: 1;
    position: relative; /*needed for z-index to work.*/
	background-color: white; /*needed for the horizontal element-outers to block their horizontal connection symbols from view*/
	padding: 0 10px 0 0;
}
div.element_middle {
	background-color: white;
	border: 1px solid #A9A9A9;
	border-radius: 2px;
	display: inline-block;
	padding: 0 5px;
	width: 100%;
}
div.element_inner {
	word-wrap: break-word;
    display:inline-block; /*shrinks div to fit text */
   	width: 100%;
}


div.answer_node {
	margin: 0 0 20px;
}


div.element_outer.horizontal + div.vertical_connection {
}
div.element_outer.horizontal + div + div.element_outer {
}


div.element_group {
    padding: 0 0 12px 15px;
}
div.element_group.horizontal {
	position: relative;
	top: -11px;
	padding-bottom: 0;
}
div.horizontal_connection > div.element_group.horizontal {
	position: relative;
	/*top: -15px;
	 * 
	 */
	top: -27px;
	padding-left:30px
}
div.horizontal_connection > div.element_group {
	position: relative;
	top: -15px;
}




div.vertical_connection {  /* div.vertical_connection:not(.unused) */
    min-height: 25px;
    /*margin-left: 10px;*/
    margin-left: 8px;
    padding-left: 2px;
    position: relative;
    /*z-index: 3;*/
}

div.vertical_connection > div.symbol_container {
	position: absolute;
	width: 15px;
	height: 100%;
	z-index: 1;
	left: -5px;
}

div.vertical_connection > div.symbol_container {
    border-right: thin solid transparent; 
    border-left: thin solid transparent;
    width: 13px;
}

div.symbol_container > div, div.symbol_container > div > div.symbol {
	background-color: inherit;
}

div.vertical_line {
	position: absolute;
	border-left: thin solid black;
    margin-left: 7px;
    height: 100%;
	z-index: 2;
}
div.vertical_connection.dispute > div > div.vertical_line {
	margin-left: 6px;
}

div.symbol {
    position: absolute;
    left:-5px;
    z-index: 3;
	line-height: 0.95em;
}


	
div.vertical_connection.unused {
	border: thin solid white;
	margin-bottom: -20px;
}/*
div.vertical_connection.hovered.unused {  /* div.vertical_connection.hovered:not(.unused) * /
    border-left: medium dotted black; 
}
*/
div.vertical_connection > div.symbol_container + div.vertical_connection {  /* experimental.  Used when more than two connections are made between two elements*/
	margin: 0 0 0 20px; 
}
/*
div.vertical_connection_container + div.vertical_connection.hovered {  /* experimental.  Used when more than two connections are made between two elements* /
	margin: 0 0 0 8px; 
}*/


div.horizontal_connection {
	padding-top: 40px;
	padding-left: 1px;
}
div.horizontal_connection + div.horizontal_connection {
	padding-top: 5px;
}
div.element_group + div.horizontal_connection {
	padding-top: 25px;
}
div.horizontal_connection > div.symbol_container {
	position: relative;
	z-index: 1;
	top: -8px;
	height:15px;
}
div.horizontal_line {
	position: absolute;
	border-top: thin solid;
    margin-top: 6px;
	z-index: 2;
	width: 100%;
}
div.horizontal_connection > div.symbol_container > div > div.symbol {
	top: -7px;
	left: 0px;
}

div.horizontal_connection > div.symbol_container {
    border-top: thin solid transparent; 
    border-bottom: thin solid transparent;
    height: 13px;
    left: 1px;
}







div.supports, div.definition {
    font-size: 0.87em;
    
}
div.horizontal_connection > div.symbol_container > div > div.supports,
div.horizontal_connection > div.symbol_container > div > div.definition {
    background-color: transparent;
}
div.vertical_connection > div.symbol_container > div > div.supports,
div.vertical_connection > div.symbol_container > div > div.definition {
    left: -7px;
    top:-2px;
    background-color: transparent;
}




div.refutes {
	font-family: Helvetica, sans-serif;
	font-size: 0.9em;
}

div.questions {
    font-size: 1.2em;
}

div.horizontal_connection > div.symbol_container > div > div.questions {
	margin: -4px 0 0 0;
	padding: 0 1px 0 1px;
}




/* BELIEVED STATES */
/* believed states for connections */

div.believed_true > div.symbol_container > div {
    color: #66CC00;
    border-color: #66CC00;
}

div.believed_false > div.symbol_container > div {
    color: blue;
    border-color: blue;
}

div.unsure > div.symbol_container > div {
    color: #FA3;
    border-color: #FA3;
}
div.dispute > div.symbol_container {
    border-color: red;
    background-color: #fdd;
}
/*
div.dispute.answered > div.symbol_container {
    border-color: purple;
}
div.dispute.unanswered > div.symbol_container {
    border-color: red;
    background-color: #fdd;
}*/


/* believed states for nodes */

div.element_middle.believed_true {
	background-color: #cfb;
}
	div.element_middle.believed_true.some {
		background-color: #8f5;
	}
	div.element_middle.believed_true.many {
		background-color: #44AA00;
		border-color: #44FF00;
		color: #ddeedd;
	}
div.element_middle.believed_false {
	background-color: #bcf;
}
	div.element_middle.believed_false.some {
		background-color: #9bf;
	}
	div.element_middle.believed_false.many {
		background-color: #58f;
	}
div.element_middle.unsure {
	background-color: #ddb;
}
	div.element_middle.unsure.some {
		background-color: #dd8;
	}
	div.element_middle.unsure.many {
		background-color: #fc6;
	}
/*
div.element_middle.dispute.answered {
	background-color: #ecf;
}
div.element_middle.dispute.unanswered {
	background-color: #fdd;
}
	div.element_middle.dispute.unanswered.many {
		background-color: #cfb;
	}
	div.element_middle.dispute.unanswered.consensus {
		background-color: #cfb;
	}*/
div.element_middle.dispute {
	background-color: #fdd;
}
	div.element_middle.dispute.some {
		background-color: #fa9;
	}
	div.element_middle.dispute.many {
		background-color: #f54;
	}




/* on hover highlighting */

div.vertical_connection > div.symbol_container:hover, 
div.horizontal_connection > div.symbol_container:hover,
div.element_middle:hover {
    background-color: #ff0;
}



/* selected / highlight text within element node */
.discussion_node_part {  /* this is done by use drag and select */
	border: thin dashed black;
}
.highlighted_text {  /* this is done by use drag and select */
	background-color: #ccebef;
}
.discussion_node_part:hover {  /* this is done by use drag and select */
	background-color: #ccffaa;
}
