.divClear {
	clear: both;
}
.Clear-left {
	clear: left;
}
.Clear-right {
	clear: right;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.no-float {
	float: none;
}

.display-block {
	display: block;
}
