<h1>Welcome to Constructive Discussion</h1>



<h3>Our Guiding Values</h3>
<p></p>


<%#<p>You have the right to post comments here.  That right comes with the responsibility      %>
<%#	to respect every other person's right to post here.  It also comes with your               %>
<%#	countries legal requirements, such as in the UK: not inciting violence.</p>                %>
<%#<p>The format of this website is such that it might be challenging to figure out            %>
<%#	where your comment should go and what exactly it should be.  Take your time, but           %>
<%#	know that you can also publish it privately first before, publishing it publically.        %>
<%#	Once public it will stay there forever.</p>                                                %>
<%#<p>As much as we'd like everyone to adopt a NPOV (Neutral Point of View), everyone's NPOV   %>
<%#	is going to be different, so by definition we can't all have a NPOV.</p>                   %>
