<div id="footer_div">
	<div id="editing_panel" class="round">
		<div id="editing_panel_messages">
			Please select an element, or part of an element.
		</div>
		<div id="editing_panel_options">
			<div id="editing_option_new_node" class="editing_option">
				<%= render 'elements/fields' %>
			</div>
		</div>
	</div>
	
	<footer>
		<nav class="round">
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Feedback", feedback_path %></li>
				<li><a href="http://news.railstutorial.org/">News</a></li>
				<li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
			</ul>
		</nav>
	</footer>
	<div class="divClear">
</div>
