<div id="footer_div">
	
	<%# unless @element.nil? %>
	<div id="editing_panel" class="round">
		<input id="reset_editing_panel" class="option_button" type="submit" value="reset" />
		<div id="editing_panel_messages">
			Please select a discussion element,<br /> part of an element's text,<br /> or create a new one below:
		</div>
		
		
		
		<div id="editing_panel_options">
			<%= render 'elements/set_multiple'%>
		</div>
	</div>
	<%# end %>
	
	<footer>
		<nav class="round">
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Feedback", feedback_path %></li>
				<li><a href="http://news.railstutorial.org/">News</a></li>
				<li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
			</ul>
		</nav>
	</footer>
	<div class="divClear">
</div>
